.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f8;
}

.open-btn {
  padding: 12px 30px;
  font-size: 16px;
  background-color: #007b83;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
